page-panic {

}

$default-color: #14e6d4;

// .mood-wrapper {
//   display: flex;
//   height: 94%;
//   flex-direction: column;
//   margin-top: 44px;
// }

.mood-text-wrapper {
  margin: 10px;
  padding: 20px;
}

.mood-text {
  background: #fff;
  border: 1px solid $default-color !important;
  font-size: 20px;
  border-radius: 30px;
  color: $default-color;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
  flex: 1 1 50%;
}

.mood {
  flex: 1 1 50%;
  font-size: 5rem;
  color: #14e6d4;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background: white;

}


.emergency {
  flex: 1 1 15%;
  font-size: 2.5rem;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 75px;
  padding-bottom: 20px;
  text-align: center;
  background: $default-color;
}


button{
  font-size: 1.5em;
  color: #14e6d4;
  border-radius: 3em;
  border-color: white;
  padding: .5em;
  margin: .5em;
  background: {
    color: #fff;
    image: linear-gradient(to bottom, transparent 50%, $default-color 50%);
    position: 0% 0%;
    size: 210%;
  }
  transition: background 150ms ease-in-out, color 150ms ease-in-out;
  &:hover {
    color: #fff;
    background-position: 0 100%;
  }
}





// .emergency {
//   background: $default-color;
// }

// .mood {
//   background: rgba(0, 0, 0, 0.58);
// }
