$default-color: #12adb2;

.panic-text-wrapper {
  margin: 10px;
  padding: 20px;
}

.panic-wrapper h2{
  color: $default-color;
  text-align: center;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
  font-weight: bold;
}

.panic-text {
  background: #fff;
  border: 1px solid $default-color !important;
  font-size: 20px;
  border-radius: 30px;
  color: $default-color;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
  text-transform: capitalize;
}

.panic {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background: white;
}

.emergency {
  margin-top: 20px;
  text-align: center;
}

.emergency button.call-btn {
  background: #d10a15;
  font-size: 1.5em;
  color: #fff;
  border-radius: 3em;
  padding: .5em;
  font-weight: 600;
  width: 95%;
  height: 60px;
}
