$default-color: #12adb2;
$accent-color: #8710b0;

page-home {

}

h3 {
  font-size: 2rem;
  text-align: center;
  background: rgba(255, 127, 80, 0.63);
  color: white;
  margin: 0;
  padding: 20px;
}

.today-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  height: calc(100vh - 120px);
}

.confetti-wrapper {
  position: fixed;
  height: calc(100vh - 120px);
  z-index: 100000;
  top: 60px;
  left: 0;
  width: 100%;
  background: white;
  background-image: url("../../assets/highfive.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.yes-today,
.not-today {
  flex: 1 1 50%;
  font-size: 5rem;
  color: white;
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  text-align: center;

  button {
    font-size: 30px;
    padding: 20px;
    height: 100px;
    border-radius: 5px;
    background: $default-color;
    color: #fff;
    width: 90%;
  }
}

.yes-today {
  // background: $default-color;
}

.not-today {
  // background: #8710b0;
  // border-top: 2px solid #fff;
}
