// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/emoji";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$default-color: #12adb2;
$accent-color: #8710b0;

* {
  font-family: 'Open Sans', sans-serif;
}

.scroll-content {
  padding: 0 !important;
}

a.tab-button {
  color: #fff !important;

  &:last-of-type,
  &:last-of-type .tab-button-icon {
    // color: #e63946 !important;
  }
}

.tab-button-icon {
  color: #fff !important;
}

.tabbar {
  background: $default-color !important;
  height: 60px;
}

.toolbar {
  height: 60px;
  background: $default-color;
}

.toolbar-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

page-home,
page-dashboard {
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, $default-color 0%, $accent-color 100%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom, $default-color 0%, $accent-color 100%);

  .toolbar-background {
    background: transparent;
  }

  ion-content {
    background: transparent !important;
  }
}

.toolbar-background {
  background: $default-color;
}
